<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 Tier Application with Flask and MySQL</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Hello Dosto, Let's make a 2 Tier Application with Flask and MYSQL!</h1>
        <form action="/submit" method="post">
            <input type="text" name="new_message" placeholder="Enter a new message" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>

